/* FrontPage Styles */

.frontpageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #14213D;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}